body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}


.app {
  width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}


input {
  width: 70%;
  padding: 8px;
}


button {
  margin-left: 5px;
}


li {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}